@keyframes loadrecord {
    0% { transform: scale(0); opacity: 1;}
    100% { transform: scale(1); opacity: 0;}
}

.recorder{
    margin: 10%;
}

.record-no-load {
    width:10em;
    height:10em;
    display: inline-block;
    position:relative;
    border-radius: 50%;
    background-image: url('../svg/microphone-svgrepo-com.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.record-loader {
    width : 10rem;
    height: 10rem;
    display: inline-block;
    position: relative;
}

.record-loader::after , .record-loader::before {
    content: "";
    width : 10rem;
    height: 10rem;
    border-radius: 50%; 
    border:2px solid white;
    position: absolute;
    left:0;
    top: 0;
    animation:loadrecord 2s linear infinite;
}    

.record-loader::after {
    animation-delay: 1s;
} 

.record-player {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.white-font{
    color:white
}

button>img:hover{
  background-color:white;
  transition: all 0.5s ease;
}

                                                                                                                                               
